# Flutter-related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
.dart_tool/
.flutter/
.pub/
android/.gradle/
android/app/google-services.json
ios/Flutter/Flutter.podspec

# CocoaPods (iOS)
ios/Pods/
ios/Podfile.lock
ios/.symlinks/
ios/Flutter/ephemeral/

# Android-related
android/.gradle/
android/.idea/
android/local.properties
android/app/debug.keystore

# VS Code
.vscode/

# IntelliJ IDEA / Android Studio
.idea/
*.iml
*.ipr
*.iws

# macOS
macos/Flutter/ephemeral/
macos/Pods/
macos/.symlinks/
macos/Flutter/Flutter.podspec
macos/Flutter/ephemeral/
*.DS_Store

# Linux-related
linux/ephemeral/
linux/flutter/ephemeral/

# Windows-related
windows/flutter/ephemeral/

# Web-related
web/.dart_tool/
web/manifest.json

# Symbolic Links
.symlinks/

# Exclude generated plugin registrants
lib/generated_plugin_registrant.dart

# Firebase Crashlytics
android/app/crashlytics/

# Temporary files
*.tmp
*.swp
*.lock
*~